.primer-tercio {
    background-color: #663c00;
    height: 100%;
    width: 25vw;
    border: 1px solid #E39B3A;
}

.primer-tercio-parte-superior {
    background-color: #005780;
    border: 1px solid #E39B3A;
    width: 24.9vw;
    height:7vh;
}

.primer-tercio-parte-central {
    background-color: #6e6d28;
    border: 1px solid #E39B3A;
    width: 23.9vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26vh;
    border-radius: 1.5vh;
    margin-left: 1vh;
}


.cerrar-sesion {
    background-color: #800000;
    width: 12vh;
    height: 5vh;
    border-radius: 1vh;
    margin-top: 1vh;
    margin-left: 1vh;
    font-size: 1.5vh;
    border: 1px solid #E39B3A;
}


.cerrar-sesion:hover {
    background-color: #770101;
    cursor: url('/src/assets/Cursor2.png'), pointer !important;
}

.descripcion {
    color: #e0e0e0;
    font-size: 2vh;
}



.segundo-tercio {
    background-color: #006b11;
    height: 100%;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #E39B3A;
}

.contador-clicker{
    background: linear-gradient(90deg, 
                rgba(0, 0, 0, 0.43) 0%,
                rgba(0, 0, 0, 0.44) 1%,  
                rgba(0, 0, 0, 0.55) 20%, 
                rgba(0, 0, 0, 0.55) 80%,
                rgba(0, 0, 0, 0.44) 99%,  
                rgba(0, 0, 0, 0.43) 100%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 50vh;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4vh;
    box-shadow: 35px 0 55px rgba(0, 0, 0, 0.7),
                -35px 0 55px rgba(0, 0, 0, 0.7);
}


.contador-clicker p{
    color: #e0e0e0;
    font-size: 2.5vh;
    font-weight: bold;
    -webkit-text-stroke: 0.17vh black;
    text-stroke: 0.17vh black;
    margin-bottom: 1vh;
}

.parte-central{
    width: 100%;
    margin-bottom: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.segundo-tercio-central{
    width: 100%;
    height: 42vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-clicker {
    background: #4b0150;
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
}

.boton-clicker img {
    width: 15vh;
    height: 15vh;
}

.boton-clicker:hover {
    cursor: url('/src/assets/Cursor2.png'), pointer !important;
    -webkit-cursor: url('/src/assets/Cursor2.png'), pointer !important;
    -moz-cursor: url('/src/assets/Cursor2.png'), pointer !important;
    transform: scale(1.033);
}

.boton-clicker:active {
    cursor: url('/src/assets/Cursor2.png'), pointer !important;
    -webkit-cursor: url('/src/assets/Cursor2.png'), pointer !important;
    -moz-cursor: url('/src/assets/Cursor2.png'), pointer !important;
    animation: pulsarUnaVez 0.3s ease-out forwards;
}

.click-image {
    position: absolute;
    width: 42px;
    height: 42px;
    pointer-events: none;
    animation: fadeOut 1.5s ease-out forwards;
    z-index: 1000;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        opacity: 0.5;
        transform: translate(-50%, -75%) scale(0.75);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -100%) scale(0.5);
    }
}

@keyframes pulsarUnaVez {
    0% { transform: scale(1); }
    30% { transform: scale(1.045); }
    100% { transform: scale(1); }
}

.tercer-tercio {
    background-color: #4b0150;
    height: 100%;
    width: 25vw;
    border: 1px solid #E39B3A;
}

.tercer-tercio-parte-superior {
    width: 100%;
    min-height: 17vh;
    height: auto;
}

.tercer-tercio-parte-superior-titulo {
    background-color: #00804b;
    width: 100%;
    height:9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #E39B3A;
}

.tercer-tercio-parte-superior-titulo p{
    color: #e0e0e0;
    font-size: 2.5vh;
    font-weight: bold;
}

.tercer-tercio-parte-superior-mejoras {
    background-color: #800060;
    width: 24.5vw;
    min-height: 8vh;
    max-height: 20vh;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vh;
    padding: 0.5vh;
    overflow-y: auto;
}

.mejora-item {
    width: 7.5vh;
    height: 7.5vh;
    background-color: #4b0150;
    border: 1px solid #E39B3A;
    border-radius: 1vh;
}

.mejora-item:hover {
    background-color: #6e0177;
    cursor: url('/src/assets/Cursor2.png'), pointer !important;
}

.lista-edificios {
    background-color: #6d8000;
    width: 25vw;
    height: 73vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 3vh;
    box-sizing: border-box; /* Para que el padding no afecte al ancho total */
}

.edificio {
    width: 98.5%;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #4b0150;
    border: 1px solid #E39B3A;
}

.edificio:hover {
    background-color: #6e0177;
    cursor: url('/src/assets/Cursor2.png'), pointer !important;
}

.edificio-imagen {
    width: 8vh;
    height: 8vh;
    background-color: #663c00;
    margin-right: 1vh;
}

.edificio-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.edificio-nombre {
    color: #e0e0e0;
    font-size: 2vh;
    margin-bottom: 0.5vh;
}

.edificio-cantidad {
    color: #e0e0e0;
    font-size: 3.30vh;
    margin-right: 1vh;
}

.edificio-coste {
    color: #e0e0e0;
    font-size: 1.30vh;
    margin-top: -0.19vh;
}