.cuadro-central {
    width: 50vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2A2520;
    border: 1px solid #E39B3A;
    border-radius: 2vh;
}

.cuadro-central-titulo{
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

.cuadro-central-titulo p {
    color: #e0e0e0;
    font-size: 5vh;
    margin-top: 9vh;
}

.cuadro-central-texto-inicio {
    display:flex;
    height: 40vh;
    width: 32vh;
    flex-direction: column;
    margin-top:3vh;
}

.cuadro-central-texto-inicio p {
    color: #e0e0e0;
    font-size: 2.5vh;
}

.cuadro-central-texto-inicio input {
    width: 30vh;
    height: 5vh;
    border-radius: 1vh;
    border: 1px solid #885D23;
    background-color: #332B24;
    color: #e0e0e0;
    font-size: 2vh;
    padding-left: 1.5vh;
}

.cuadro-central-texto-inicio input:focus {
    outline: none;
    border: 1px solid #E39B3A;
    background-color: #3D3229;
}

.cuadro-central-texto-inicio button{
    width: 30vh;
    height: 5vh;
    border-radius: 1vh;
    border: 1px solid #404040;
    background-color: #E39B3A;
    color: #1a1a1a;
    font-size: 2vh;
    margin-top: 4.5vh;
}

.cuadro-central-texto-inicio button:hover{
    background-color: #CA8830;
    cursor: pointer;
}

.cuadro-central-texto-registrarse{
    display: flex;
    height: 5vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.cuadro-central-texto-registrarse p{
    color: #e0e0e0;
    font-size: 2vh;
}

.cuadro-central-texto-registrarse p:hover{
    color: #E39B3A;
    cursor: pointer;
    text-decoration: underline;
}

.cuadro-central-texto-registro {
    display:flex;
    height: 50vh;
    width: 32vh;
    flex-direction: column;
    margin-top:3vh;
}

.cuadro-central-texto-registro p {
    color: #e0e0e0;
    font-size: 2.5vh;
}

.cuadro-central-texto-registro input {
    width: 30vh;
    height: 5vh;
    border-radius: 1vh;
    border: 1px solid #885D23;
    background-color: #332B24;
    color: #e0e0e0;
    font-size: 2vh;
    padding-left: 1.5vh;
}

.cuadro-central-texto-registro input:focus {
    outline: none;
    border: 1px solid #E39B3A;
    background-color: #3D3229;
}

.cuadro-central-texto-registro button{
    width: 30vh;
    height: 5vh;
    border-radius: 1vh;
    border: 1px solid #404040;
    background-color: #E39B3A;
    color: #1a1a1a;
    font-size: 2vh;
    margin-top: 4.5vh;
}

.cuadro-central-texto-registro button:hover{
    background-color: #CA8830;
    cursor: pointer;
}

.mensaje-error {
    color: #ff4444;
    font-size: 1.8vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
}